:root {
  --container-max-width: 50rem;
  --container-gap-base: 1rem;
}

@layer base {
  .master {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main {
    flex-grow: 1;
  }

  .site-header {
    background: url(/assets/images/bg.svg) repeat-x bottom center;

    .dark & {
      background-image: url(/assets/images/bg-dark.svg);
    }
  }

  .site-footer {
    background: url(/assets/images/bg.svg) repeat-x top center;

    .dark & {
      background-image: url(/assets/images/bg-dark.svg);
    }
  }

  .container {
    --_max-width: var(--container-max-width);
    --container-gap-left: var(--container-gap-base);
    --container-gap-right: var(--container-gap-base);

    @supports (padding: max(0px)) {
      --container-gap-left: max(
        var(--container-gap-base),
        env(safe-area-inset-left)
      );
      --container-gap-right: max(
        var(--container-gap-base),
        env(safe-area-inset-right)
      );
    }

    display: grid;
    grid-template-columns:
      [full-start] 1fr
      [gap-start] var(--container-gap-left)
      [start] minmax(0, var(--_max-width))
      [end] var(--container-gap-right)
      [gap-end] 1fr
      [full-end];
    width: 100%;

    > * {
      grid-column: start / end;
    }
  }

  .container--sm {
    --container-max-width: 40rem;

    @media (min-width: 52.5em) {
      --container-gap-base: 3rem;
    }
  }
}
