<footer class="site-footer pt-10 pb-8">
  <div class="container flex flex-col sm:flex-row items-center justify-between text-gray-600">
    <div class="text-sm">
      © 2019 &middot; <a href="/impressum/">Impressum</a>
    </div>
    <ul role="presentation" class="flex justify-between mt-4 sm:mt-0">
      {% for link in links %}
        <li role="presentation" class="ml-5 md:ml-6 lg:ml-8 first:ml-0">
          <a href="{{ link.url }}" aria-label="{{ link.label }}" title="{{ link.label }}">
            {{ icon(link.icon, 'icon--100 md:icon--150') }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>
