<header class="site-header">
  <div class="container">
    <div class="flex items-center justify-between pt-3 pb-5 md:pt-4 md:pb-6">
      <div class="mr-4 font-bold">
        <a href="/" class="no-underline">LeBen</a>
      </div>

      <nav>
        <ul class="flex items-center gap-3 sm:gap-4 md:gap-5 lg:gap-5 text-sm md:text-base">
          {% for item in navigation.primary %}
            {% set isCurrentPageOrAncestor = item.url.length > 1 and item.url in page.url or item.url === page.url %}
            <li{% if item.url === '/' %} class="max-xs:hidden"{% endif %}>
              <a href="{{ item.url }}" class="{{ classNames('no-underline', { 'font-bold': isCurrentPageOrAncestor }) }}" {% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>
            </li>
          {% endfor %}
          <li>
            <button id="lightness-toggle" class="lightness-toggle btn btn--bare">
              <div class="lightness-toggle__icons">
                {{ icon('moon', 'dark-icon icon--100') }}
                {{ icon('sun', 'light-icon icon--100') }}
              </div>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
