<script type="text/javascript">
  function setLightnessMode(isDark, save) {
    if (isDark) {
      document.documentElement.classList.add('mode-dark');
    } else {
      document.documentElement.classList.remove('mode-dark');
    }

    if (save) {
      sessionStorage.setItem('dark-mode', JSON.stringify(isDark));
    }
  }

  var storedValue = sessionStorage.getItem('dark-mode');
  var mediaQuery = matchMedia('(prefers-color-scheme: dark)');

  // Set the intitial mode on page load
  // 1. See if user has picked a specific theme before from Session Storage
  // 2. Fallback to prefers-color-sheme media query
  setLightnessMode(storedValue ? JSON.parse(storedValue) : mediaQuery.matches);

  // Listen to OS mode change only if user didn't explicitly pick a theme earlier
  if (!storedValue) {
    mediaQuery.addListener(function(event) {
      setLightnessMode(event.matches);
    });
  }

  // Enable toggle button interactivity
  document.addEventListener('DOMContentLoaded', function() {
    var toggleBtn = document.querySelector('#lightnessToggle');
    toggleBtn.addEventListener('click', function() {
      setLightnessMode(!document.documentElement.classList.contains('mode-dark'), true);
    });
  });
</script>
