/**
 * Nav
 */

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}


// Inline

.nav--inline {
  @extend .nav;

  line-height: 1;
}
  .nav--inline__item {
    display: inline-block;
    margin-right: $half-spacing-unit;
    line-height: 1.8;

    &:last-child {
      margin-right: 0;
    }
  }


// Block

.nav--block {
  @extend .nav;
}
  .nav--block__item {
    display: block;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }


// Header nav

.nav--primary {
  @extend .nav--inline;

  display: inline-block;
  vertical-align: top;
  margin: 0.33333em 0;
}
  .nav--primary__item {
    @extend .nav--inline__item;
  }


// Responsiveness

@include grid-media-query('palm') {
  .nav--primary {
    float: right;
  }
    .nav--primary__item {
      margin-right: 6px;
    }
}