/**
 * Posts
 */

.posts {}

.post + .post {
  margin-top: $triple-spacing-unit;
  padding-top: $triple-spacing-unit;
  border-top: 2px solid $brand-light;
}

.post__header {
  margin-bottom: $double-spacing-unit;
}

.post__title {
  margin-bottom: $half-spacing-unit;
}

.post__meta {
  color: $alt-medium;
}


// Responsiveness

@include grid-media-query('palm') {
  .post + .post {
    margin-top: $spacing-unit;
    padding-top: $spacing-unit;
  }

  .post__header {
    margin-bottom: $spacing-unit;
  }
}