{% extends "default.njk" %}

{% block main %}
  <div class="{{ classNames('container', containerClass) }}">
    <h1 class="mb-4 md:mb-6 lg:mb-8">{{ title }}</h1>

    {{ content | safe }}
  </div>
{% endblock %}
