{% extends "default.njk" %}

{% block head %}
  <meta property="og:image" content="{{ ('assets/images/_generated/og/' ~ title | slug ~ '-preview.jpeg') | absoluteUrl(site.url) }}" />
  <meta property="og:image:secure_url" content="{{ ('assets/images/_generated/og/' ~ title | slug ~ '-preview.jpeg') | absoluteUrl(site.url) }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />
{% endblock %}

{% block main %}
  <article class="{{ classNames('container', containerClass) }}">
    <header class="mb-4 md:mb-6 lg:mb-8">
      <h1 class="mb-1">{{ title }}</h1>
      <div class="text-mint-800 dark:text-mint-500">
        Published on <time datetime="{{ date.toJSON }}">{{ date|formatDate }}</time>
      </div>
    </header>

    <div class="prose">
      {{ content | safe }}
    </div>

    <footer class="mt-10 pt-10 border-t-2 border-gray-400 text-gray-600">
      {% if tags %}
        <ul class="flex flex-wrap gap-x-3 mb-5 whitespace-nowrap">
          {% for tag in tags %}
            {% if tag !== 'posts' %}
              <li>#{{ tag }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      <p>You can comment about this post on <a href="https://mastodonshare.com/?text=@leben@mastodon.social&amp;url={{ page.url | absoluteUrl(site.url) }}">Mastodon</a> and <a href="https://twitter.com/intent/tweet?text=@LeBenLeBen+{{ page.url | absoluteUrl(site.url) }}">Twitter</a>.</p>
    </footer>
  </article>
{% endblock %}
