/**
 * Variables
 */

// Fonts

$font-family-primary:   'Merriweather', Georgia, serif;
$font-family-secondary: 'Patua One', $font-family-primary;

$font-size-default: 18px;
$font-size-small:   14px;

$line-height-default: 1.8;


// Colors

$bg:            #f9f9fb;

$brand:         #403559;
$brand-dark:    #574979;
$brand-medium:  #c0bad3;
$brand-light:   #ebe9f1;

$alt:           #ca858d;
$alt-medium:    #d7a8ad;
$alt-light:     #efdbdd;


// Spacings

$spacing-unit:        24px;
$half-spacing-unit:   $spacing-unit / 2;
$double-spacing-unit: $spacing-unit * 2;
$triple-spacing-unit: $spacing-unit * 3;


// Misc

$border-radius: 4px;