---
title: Impressum
permalink: /impressum/index.html
containerClass: container--sm
---

<p class="mb-4">
  You must be pretty curious to end-up here heh.
</p>

<p class="mb-4">
  This website is powered by <a href="https://www.11ty.io/">Eleventy</a> and <a href="https://tailwindcss.com/">Tailwind</a>, essentially. <a href="https://github.com/lebenleben/benoitburgener.ch">The code</a> is open-source and can be browsed on GitHub, feel free to <a href="https://twitter.com/intent/tweet?text=@LeBenLeBen">@ me</a> if you want.
</p>

<p class="mb-4">
  This is a tracker-free website (I prefer cookies I can eat tbh).
</p>

<h3 class="mt-8 mb-4">Ressources</h3>

<ul class="list-outside list-disc ml-5">
  <li>Icons courtesy of <a href="https://iconscout.com/unicons">Unicons</a> and <a href="https://simpleicons.org/">Simple Icons</a></li>
  <li>Fonts are <a href="https://www.colophon-foundry.org/typefaces/brick/">Brick</a> and <a href="https://www.colophon-foundry.org/typefaces/mabry/">Mabry</a> from <a href="https://www.colophon-foundry.org">Colophon Foundry</a></li>
</ul>
