---
title: Offline
permalink: /offline.html
containerClass: container--sm
---

<p class="text-lg leading-normal mb-4">
  Whoops, it seems your network connection isn’t working at the moment.
</p>

<p>
  <button class="btn btn--primary" onclick="window.location.reload()">Try to reconnect</button>
</p>
