---
title: Projects
permalink: /projects/index.html
containerClass: max-sm:max-w-sm
layout: default.njk
---

<div class="overflow-hidden pb-12">
  <div class="container">
    <h1 class="mb-4 md:mb-6 lg:mb-8">{{ title }}</h1>

    <div class="projects">
      {% for project in projects %}
        <article class="project flex flex-col {% if loop.index % 2 == 0 %}md:flex-row-reverse md:text-right{% else %}md:flex-row{% endif %} mt-10 first:mt-0" style="--project-color-light: {{ project.color.light }}; --project-color-dark: {{ project.color.dark }};">
          <div class="md:w-3/5 mb-5 -mx-2 md:mb0 md:mx-0 {% if loop.index % 2 == 0 %}md:pl-10 lg:pl-16{% else %}md:pr-10 lg:pr-16{% endif %}">
            {% set imgClass = classNames('project__image rounded lg:rounded-lg shadow-lg md:shadow-xl lg:shadow-2xl', 'float-left' if loop.index % 2 == 0 else 'float-right') %}
            {% set imgSizes = '(min-width: 768px) 52vw, 100vw' %}

            {% image project.image.url, { alt: project.image.alt, class: classNames(imgClass, 'dark:hidden' if project.image.urlDark else ''), sizes: imgSizes } %}
            {% if project.image.urlDark %}
              {% image project.image.urlDark, { alt: project.image.alt, class: classNames(imgClass, 'hidden dark:block'), sizes: imgSizes } %}
            {% endif %}
          </div>

          <div class="project__meta md:w-2/5 md:pt-5 lg:pt-16">
            <h2 class="project__title mb-1">{{ project.name }}</h2>
            <div class="mb-3">
              <a href="{{ project.url.link }}" class="text-gray-600">{{ project.url.label }}</a>
            </div>
            <p class="text-gray-700 mb-3">{{ project.description | safe }}</p>
            <ul class="flex flex-wrap {% if loop.index % 2 == 0 %}md:justify-end{% endif %} -ml-3 -mt-1">
              {% for tag in project.tags %}
                <li class="pl-3 pt-1">
                  <span class="tag">{{ tag }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
