---
layout: blog
---

<article class="post">
  <div class="grid grid--center">
    <div class="grid__item ten-twelfths lap--ten-twelfths palm--one-whole">
      <header class="post__header">
        <h2 class="post__title">{{ page.title }}</h2>
        <span class="post__meta">{{ page.date | date_to_long_string }}</span>
      </header>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__item eight-twelfths lap--ten-twelfths palm--one-whole">
      {{ content }}
    </div>
  </div>
</article>
