/**
 * Responsive
 */


// Palm

@include grid-media-query('palm') {
  html {
    font-size: 14px;
  }

  .wrapper {
    padding-right: $half-spacing-unit;
    padding-left: $half-spacing-unit;
  }

  .site-header {
    padding: 0.33333333em 0;
  }

  .brand {
    float: left;
    width: auto;
  }

  .shift-below {
    margin-bottom: $spacing-unit;
  }

  .shift-above {
    margin-top: $spacing-unit;
  }

  h1 {
    margin-bottom: $spacing-unit;
  }

  pre {
    margin-left: 0;
    margin-right: 0;
  }

  .palm--one-whole + .palm--one-whole {
    margin-top: $half-spacing-unit;
  }
}


// Lap

@include grid-media-query('lap') {
  .shift-below {
    margin-bottom: $double-spacing-unit;
  }

  .shift-above {
    margin-top: $double-spacing-unit;
  }
}